body {
    font-family: Arial, Sans-Serif;
    font-size: 62.5%;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

#wrap {
    width: 70em;
    margin: 0 auto;
    position: relative;
}

#header {
    background-image: url(logo.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    height: 20em;
}

#main {
    width: 43em;
    color: #444;
}

#side {
    padding-left: 5em;
    width: 22em;
    position: absolute;
    right: 0;
    top: 20em;
}

#main p {
    font-size: 1.5em;
    line-height: 1.4em;
    margin-bottom: .6em;
}

#main a {
    color: #CC6626;
}

#main h1 {
    font-size: 1.7em;
    font-weight: bold;
    line-height: 1.4em;
    margin-bottom: 1em;
}

#main h2 {
    font-size: 1.6em;
    font-weight: bold;
    color: #999;
    margin-bottom: .4em;
    margin-top: 1em;
}

#side p {
    font-size: 1.3em;
    margin-bottom: 1em;
    color: #666;
}

#side a {
    color: #666;
}

code pre {
    font-size: 1.5em;
    background-color: #ddd;
    color: #000;
    padding: .5em;
    margin-bottom: 1em;
    font-weight: bold;
}

#download a {
    font-size: 2em;
    font-weight: bold;
    padding: .5em 1em;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin-bottom: 1em;
background: #EDBA90; /* old browsers */
background: -moz-linear-gradient(top, #f6ab5a 0%, #F28E39 100%); /* firefox */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6ab5a), color-stop(100%,#F28E39)); /* webkit */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6ab5a', endColorstr='#F28E39',GradientType=0 ); /* ie */
border: solid 1px #FBB887;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;

-webkit-box-shadow: 1px 1px 5px #888;
-moz-box-shadow: 1px 1px 5px #888;
box-shadow: 1px 1px 5px #888;
}

#footer {
    text-align: center;
    color: #888;
    padding: 1em 0;
    font-size: 1.1em;
}